.container {
    margin: auto;
}



.intro {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}


.description {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.profilePic {
    margin-bottom: 20px;
}

.skills {
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.color {
    color: #fa752c;
}

.descriptionDiv {
    padding-right: 0px;
}

.descriptionPic {
    padding-right: 0px;
    padding-top: 8px;
}

.skillsTitle {
    text-align: left;
    padding-right: 0;
}

p {
    margin-bottom: 0;
}

.skillsRow {
    margin-left: 30px;
}