.landing {
    color: white;
    padding: 0;
    margin: 0;
}

.name {
    font-size: 6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtitle {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.view {
    height: 100vh;
    width: 100%;
    background-image: url("./Landing-Splash.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.main {
    margin-bottom: 20px;
}


.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.title {
    position: relative;
     top: 50%;
     transform: perspective(1px) translateY(50%);
     margin-top: 24px;

}

.aboutMe {
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.portfolio {
    height: 100vh;
    width: 100%;
    background-image: url("./Portfolio.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;

}
