.container {
    width: 100%;
    margin-bottom: 25px;

}

.portfolioContainer {
    background-color: rgba(255,255,255, 0.6);
    padding-top: 25px;
    margin-top: 25px;

}

.main-container {
    width: 100%;
}

.portfolioTitle {
    color: black;
    text-align: center;
}

.projectTitle {
    text-align: left;
    color: black;

}

.projectDescription {
    text-align: left;
    color: black;
}

.projectLink {
    color: #fa752c;
    font-style: italic;
}

.projectLink:hover {
    color: #fa752c;
    text-decoration: underline;

}

.gruscery {
    padding-top: 25px;
}

.trek {
    padding-top: 25px;

}

.wanipedia {
    padding-top: 25px;


}

.wannit {
    padding-top: 25px;
    padding-bottom: 50px;

}

.wannitPic {
    color: black;
    font-weight: bold;
}